#container {
    display : grid;
    max-width: 800px;
    width: 100%;
    height: 100%;
    max-height: 800px;
    grid-gap: 4px;
    margin: 0 auto;
    padding:10%;
}

.grid-item {
    background-color: #ccc;
    width: 100%;
    padding-top: 100%;
    border: 1px solid;
    border-color: black;
}

a{  
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(32, 176, 248);
    display:flex;
    padding: 5%;
    gap: 100px;
    justify-content: center;
    background-color: rgb(170, 199, 255);
}

select,button,input {
    height: 100px;
    max-height: 30px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid;
    background-color: white;
    border-color: rgba(255, 255, 255, 0.276);
}

#input {
    max-width: 100px;
    width: fit-content;
}